/* @media (min-width: 300px){
  #homecomp{
    overflow-y: scroll
  }
  #homecomp::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 576px){
  #homecomp{
   
    overflow-y: scroll
}
#homecomp::-webkit-scrollbar {
  display: none;
}

}
@media (min-width: 768px){
  #homecomp{
    overflow-y: scroll
}
#homecomp::-webkit-scrollbar {
  display: none;
}
}

@media (min-width: 992px) {
  #homecomp{
    overflow-y: scroll
}
#homecomp::-webkit-scrollbar {
  display: none;
}
}

@media (min-width: 1200px){
  #homecomp{
    overflow-y: scroll
}
#homecomp::-webkit-scrollbar {
  display: none;
}
}
 */
