
  .form-box{ 
    margin-top:30px;
    width: 550px; 
    background-image: linear-gradient( rgba(234, 241, 232, 0.993),rgb(203, 218, 233)); 
    border-radius: 30px; 
    padding: 40px; 
    padding-top: 2px;
    } 
    #head{ 
      padding-top: 20px; 
      text-align: center; 
       
    } 
  
 
.full-width{
    width: 100%;
}
button{
    width: 190px;
}
