<!-- <div class="container"> -->
<div class="d-flex flex-column" id="movedetailcomp">
<div class="p-2">
    <span >
        <div style="padding: 2%;">

            <p><b>Restaurant name : </b>
                <i>{{parentdata.restaurantname}}</i><br>
                <b>Tag Line : </b>
                <i>{{parentdata.tag}}</i>
                <button mat-raised-button (click)="reload()" style="float: right;">Add Tag</button>
            </p>
        </div>
    </span>
    </div>
    <div class="p-2" id="fixed-content">
  
<div *ngFor="let r of rstrts;" style="cursor: pointer;">
        <mat-card (click)="onselect(r)"  style="padding: 5%;border-radius: 10px;">
            
            <mat-card-title>{{r.restaurantname | titlecase}}</mat-card-title>
            <mat-card-subtitle>{{r.tag}}</mat-card-subtitle>
            
            <!-- <p style="border: 2px rgb(109, 216, 125) solid;"></p> -->
        
    </mat-card><br>
    </div>


</div>
</div>
