 #fixed-content {
  height: 250px;
  overflow-y: scroll;
  }

  #fixed-content::-webkit-scrollbar {
    display: none; 
  } 

  :host .mat-card{
    transition: 0.3 ease-in-out;
  
  }
  :host .mat-card:hover{
   
    background-color: rgb(215, 241, 209);
    transition: 0.3 ease-in-out;
    /* transform:scale(0.9); */
    
  }
  